<figure>
    <p class="center-text">
        <a href="{{ site.baseurl }}/index.html">Home</a> |
        <a href="{{ site.baseurl }}/pages/textanalysis.html">Text Analysis</a> |
        <a href="{{ site.baseurl }}/pages/dec.html">The Declaration</a> |
        <a href="{{ site.baseurl }}/pages/signers.html">Signers</a> |
        <a href="{{ site.baseurl }}/pages/visualizations.html">Mapping</a> |
        <a href="{{ site.baseurl }}/pages/conclusion.html">Conclusion</a> |
        <a href="{{ site.baseurl }}/pages/Inspiration.html">Inspiration</a> |
        <a href="{{ site.baseurl }}/pages/credits.html">Credits</a> |
    </p>
</figure>
